<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DSW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DSW.Properties.Settings>
            <setting name="PlTabForeColor" serializeAs="String">
                <value>ControlLightLight</value>
            </setting>
            <setting name="PlTabBackColor" serializeAs="String">
                <value>HotTrack</value>
            </setting>
            <setting name="LocForeColor" serializeAs="String">
                <value>ControlLightLight</value>
            </setting>
            <setting name="LocBackColor" serializeAs="String">
                <value>Coral</value>
            </setting>
            <setting name="NewForeColor" serializeAs="String">
                <value>ControlDarkDark</value>
            </setting>
            <setting name="NewBackColor" serializeAs="String">
                <value>ControlLight</value>
            </setting>
            <setting name="MovBackColor" serializeAs="String">
                <value>ControlDarkDark</value>
            </setting>
            <setting name="MovForeColor" serializeAs="String">
                <value>ControlLightLight</value>
            </setting>
            <setting name="UseSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseNotif" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RefInterval" serializeAs="String">
                <value>300000</value>
            </setting>
            <setting name="WatchBase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BaseName" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseSystemName" serializeAs="String">
                <value />
            </setting>
        </DSW.Properties.Settings>
    </userSettings>
</configuration>